:local .htmlWithModal {
  overflow: hidden;
}

:local .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 66000;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(40, 40, 50, 0.5);
  transform-origin: 50% 25%;
}

:local .modal {
  position: relative;
  width: auto;
  margin: 10%;
  z-index: 1060;
}
