:local .enter {
  opacity: 0;
}

:local .enter .zoom {
  transform: scale(0.8);
}

:local .enterActive {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

:local .enterActive .zoom {
  transform: scale(1);
  transition: transform 100ms ease-in;
}

:local .leave {
  opacity: 1;
}

:local .leaveActive {
  opacity: 0;
  transition: opacity 100ms ease-in;
}
