.mobservable-devtools-render-highlight {
	position: absolute;
	z-index: 10000;
	background-color: #9696FF;
	color:black;
	font-size: 7pt;
	width: 70px;
	height: 20px;
	text-align: right;
	padding-right: 2px;
}

.mobservable-devtools-render-highlight-cheap {
	background: rgb(182,218,146) !important;
}

.mobservable-devtools-render-highlight-ok {
	background: rgb(228,195,66) !important;
}

.mobservable-devtools-render-highlight-expensive {
	background: rgb(228,171,171) !important;
}

.mobservable-devtools-wrapper {
	position: fixed;
	top:0px;
	right:20px;
}
